/* styling selectors for identifications*/
/* Type Selector */
body {
  font-family: Arial, sans-serif;
  color: #333333;
  margin: 0;
}

header {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: plum;
  padding: 20px;
}

/*  Selector called as Descendant for divs */
div.wrapper ul li {
  color: #333333;
}

/* Pseudo-class Selector */
div.wrapper ul li:nth-child(odd) {
  font-weight: bold;
}

/* ID Selector */
#background-style {
  background-color: #f1f1f1;
  width: 80%;
  margin: 0 auto;
}

/*  Class Selector  "Adding marquees with animations"  */
.marquee {
  direction: left;
  height: 120px;
}

.wrapper {
  background-image: url('flower.avif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  background-position: center;
  padding: 2em;
  box-sizing: border-box;
  border: 1px solid #333333;
}

.fade-in {
  opacity: 0;
  animation: fade-in 5s forwards;
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-up 5s forwards;
}

div.wrapper {
  width: 80vw;
  background-color: #f2f2f2;
  border: 2px solid #333333;
  margin: 0 auto;
  padding: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.image-container {
  display: flex;
}

.image-container img {
  width: 400px;
  margin-right: 1em;
  margin-left: 1em;
}

ul {
  margin-top: 20px;
  padding-left: 40px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-left: 1em;
}

h3 {
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  animation: poping-up 10s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite alternate;
  color: #333;
}

h2 {
  margin-left: 1em;
}

/* Animation Keyframes */
@keyframes poping-up {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Animation keyframes  with name Anmol*/
@keyframes anmol {
  0% {
    background-color: #845ec2;
  }

  20% {
    background-color: #f33058;
  }

  40% {
    background-color: #402dee;
  }

  60% {
    background-color: #f1d359;
  }

  80% {
    background-color: #bc5ec2;
  }

  100% {
    background-color: #00e2f7;
  }
}

@keyframes changeBg {
  0% {
    background-color: rgb(180, 58, 155);
  }

  20% {
    background-color: yellow;
  }

  40% {
    background-color: rgb(114, 227, 233);
  }

  60% {
    background-color: rgb(202, 166, 236);
  }

  80% {
    background-color: floralwhite;
  }

  100% {
    background-color: rgb(152, 217, 245);
  }
}



/* List Item Styles */
li {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f5f5f5;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

/* Unordered List Styles */
ul li {
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* List Item Hover Styling */
li:hover {
  background-color: plum;
  color: #333;
}

ul li:hover::before {
  opacity: 1;
}

/* footer styling in form of a grid pattern*/
footer>p {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 20px;
  grid-area: footer;
  padding: 2em;
  text-align: center;
  background-color: plum;
  color: #333;
}

#my-image {
  filter: contrast(130%) brightness(100%) saturate(130%);
  transition: filter 0.5s ease-in-out;
  max-width: 100%;
  height: 50vh;
  max-width: 100%;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  #my-image {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  #my-image {
    width: 100%;
  }
}